@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

#shop-container #prod-spinner {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #1A1A1A;
  padding: 100px 0;
  transition: opacity 0.5s;
}

#prod-spinner .prod-loading {
  opacity: 1;
}

#prod-spinner .custom-loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background:
    linear-gradient(#6B6BFF 0 0) bottom/100% 0% no-repeat #E4E4ED;
  animation: p8 2s infinite steps(7);
  position: relative;
}

@keyframes p8 {
  100% {
    background-size: 100% 115%
  }
}

#page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #1A1A1A;
  opacity: 0;
  transition: opacity 0.5s;
}

#page-spinner.loading {
  opacity: 1;
}

#page-spinner .custom-loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #6B6BFF 70%, #0000 0) left/20% 100%;
  background:
    linear-gradient(#6B6BFF 0 0) left/0% 100% no-repeat #E4E4ED;
  animation: p4 2s infinite steps(6);
  position: relative;
  overflow: hidden;
}


@keyframes p4 {
  100% {
    background-size: 120% 100%
  }
}



/* colors used */

/* 
gold-one: #e3c678;
gold-two: #D1B000;
black-one: #000000;
gold-gradients-one: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
 */
/* top bar styles  */

.top-bar {
  padding: 5px 10px 5px;
  background: #cccccc;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #1a1a1a;
}

.top-bar .tag-line {
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  margin: 0;
  padding: 0;
}

.top-bar .top-bar-side {
  display: flex;
  flex: auto;
  flex-direction: row;
}

.top-bar .top-bar-side p {
  font-size: 13px;
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}


.top-bar .top-bar-side p .fa-solid {
  margin-left: 5px;
}

/* header navbar styles */
.header-nav {
  background: linear-gradient(to bottom, #1a1a1a, #121212);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.header-nav .navbar select {
  font-size: 13px;
  font-weight: 500;
  color: #f5f5f5;
  height: 30px;
  width: 80px;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 4px 10px;
  margin-top: 0px;
}

.header-nav .navbar select:focus {
  box-shadow: none;
  outline: none;
}

.header-nav .navbar select option {
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  background: #121212;
}

.header-nav .navbar {
  padding: 10px 30px;
}

.header-nav .navbar .navbar-brand {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 20px;
  border: 2px solid #eee;
  padding: 5px 10px;
}

/* .header-nav .navbar .navbar-brand img {
  width: 15px;
  margin-right: 5px;
  background: #ffffff;
} */

.header-nav .navbar .navbar-nav {
  margin-left: 70px;
}

.header-nav .navbar .navbar-nav .nav-item {
  margin: 0px 20px;
}

.header-nav .navbar .navbar-nav .nav-item .nav-link {
  color: #f5f5f5;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-nav .navbar .form-inline {
  margin-left: 15%;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-nav .navbar .form-inline p {
  font-size: 14px;
  color: #f5f5f5;
  cursor: pointer;
  margin: auto 5px;
}

.header-nav .navbar .form-inline p .fa-solid {
  padding-right: 3px;
}

.header-nav .navbar .form-inline p span.cart-number {
  color: #cccccc;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
}


/* subscribe styles */
.subscribe-container {
  margin-top: 60px;
  padding: 40px 30px;
  font-family: "Poppins", sans-serif;
}

.subscribe-container .subscribe-title h4 {
  font-size: 40px;
  font-weight: 500;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}


.subscribe-container .subscribe-form .form-group {
  margin: 20px 40px 0;
  display: flex;
  flex: auto;
  flex-direction: row;
  border: 1px solid #444444;
  background: #ffffff;
}

.subscribe-container .subscribe-form .form-group input {
  background: #ffffff;
  border: 1px solid transparent;
  font-size: 13px;
  text-transform: uppercase;
  color: #121212;
  letter-spacing: 1px;
  width: 70%;
}

.subscribe-container .subscribe-form .form-group input:focus {
  outline: none;
  box-shadow: none;
}

.subscribe-container .subscribe-form .form-group .btn {
  width: 30%;
  height: 55px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #444444;
  border: 1px solid #444444;
}


/* footer nav styles */
.Footer-nav {
  margin-top: 60px;
  padding: 30px;
  background: linear-gradient(to bottom, #121212, #1a1a1a);
  font-family: 'Poppins', sans-serif;

}

.Footer-nav .footer-lists {
  margin-top: 5px;
}

.Footer-nav .footer-lists ul {
  list-style: none;
  padding-left: 0px;
}

.Footer-nav .footer-lists ul li {
  margin: 10px 0;
}

.Footer-nav .footer-lists ul li .footer-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #cccccc;
}

.Footer-nav .social-lists {
  margin-top: 5px;
}

.Footer-nav .social-lists h5 {
  margin-top: 40px;
  font-size: 17px;
  color: #cccccc;
  font-weight: 500;
}

.Footer-nav .social-lists ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.Footer-nav .social-lists ul li {
  margin-right: 20px;
}

.Footer-nav .social-lists ul li .footer-icons {
  text-decoration: none;
  font-size: 20px;
  color: #cccccc;
}

.Footer-nav .footer-img {
  text-align: center;
  padding: 15px 20px;
  background: #cccccc;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Align items horizontally at the center */
  justify-content: center;
  border-radius: 10px;

}

.footer-img .img-text {
  margin-top: 10px;
  width: 150px;
  text-align: center;
}

.Footer-nav .footer-img .img-fluid {
  width: 40px;
}

.Footer-nav .footer-address {
  margin: 20px auto;
}

.Footer-nav .footer-address p {
  color: #cccccc;
  font-weight: 500;
  font-size: 14px;
  margin: 5px;
}

.Footer-nav .footer-address .phone-one {
  padding-right: 10px;
}

.Footer-nav .footer-copy {
  text-align: center;
  margin-top: 30px;
}

.Footer-nav hr {
  border-color: #cccccc;
}

.Footer-nav .footer-copy p {
  font-size: 13px;
  font-weight: 400;
  color: #cccccc;
  margin-bottom: 0px;
}

.Footer-nav .footer-copy p .name {
  font-weight: 600;
}

.Footer-nav .footer-copy p .name-link {
  font-weight: 500;
  color: #cccccc;
  text-decoration: none;
}

/* product card styles */
.product-box {
  color: #f5f5f5;
  position: relative;
  background: #292929;
  transition: box-shadow 0.3s ease;
  /* Add the box-shadow transition */
  margin-bottom: 30px;

}

.product-box:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Add the box-shadow on hover */

}

.product-box .product-img-box {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
}

.product-box:hover .product-img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.4);
  /* Orange overlay color */
  z-index: 1;
  /* Place the overlay above the image */
}


.product-box .product-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: transform 0.6s ease;
  /* Add the transform transition */

}

.product-box:hover .product-img-box img {
  transform: scale(1.1);
  /* Apply a scale transform on hover */
}

.product-box .product-body {
  padding: 10px 15px;
  height: 90px;
}

.product-box .product-body p {
  margin: 0;
  padding: 0;
}

.product-box .product-body .product-name {
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #cccccc;
}

.product-box .product-body .product-price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.product-box .product-body .product-price .discount-price {
  color: #898989;
  text-decoration: line-through;
  padding-right: 10px;
}


.product-box:hover .product-button {
  opacity: 1;
  visibility: visible;
}

.product-box .product-button {
  position: absolute;
  top: 30%;
  /* Adjust the vertical alignment */
  left: 30%;
  /* Adjust the horizontal alignment */
  transform: translate(-15%, -50%);
  /* Center the button */
  top: 280px;
  text-align: center;
  padding: 10px;
  opacity: 0;
  /* Start with opacity 0 */
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.3s ease;
  /* Add the fade-in transition */
}

.product-box .product-button .btn {
  color: #f5f5f5;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid #676363;
  border-radius: 1px;
  background: #676363;
  padding: 10px 25px;
}

.product-box .product-button .fa-solid {
  font-size: 12px;
  padding-left: 5px;
}


/* bread crumbs styles */
.bread-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(18, 18, 18, 0.8));
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place the background behind the content */
}

.bread-header-bg img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.bread-header .bread-width {
  position: relative;
  z-index: 1;

}

.bread-header .bread-header-text {
  text-align: center;

}

.bread-header .bread-header-text h4 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: capitalize;
  color: #f5f5f5;
}

.bread-header .bread-header-text .breadcrumb {
  text-align: center;
  margin-top: 10px;
  justify-content: center;
}

.bread-header .bread-header-text .breadcrumb ul {
  list-style: none;
  display: flex;
  flex: auto;
  flex-direction: row;
  margin-left: 0px;
  padding-left: 0px;
}

.bread-header .bread-header-text .breadcrumb ul li {
  margin: 5px 5px;
}

.bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}

.bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link .fa-solid {
  font-weight: 700;
  margin: 0px 10px;
  font-size: 14px;
  color: #f5f5f5;
}

.bread-header .bread-width .bread-header-text .breadcrumb ul li.active .breadcrumb-link {
  color: #cccccc;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* page load styles */

.page-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}


@media only screen and (max-width: 900px) {
  .top-bar .tag-line {
    font-size: 12px;
    font-weight: 500;
  }

  .top-bar #top-insta {
    display: none;
  }


  /* header navbar styles */
  .header-nav .navbar select option {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    background: #121212;
  }

  .header-nav .navbar {
    padding: 12px 20px 15px;
  }

  .header-nav .navbar .navbar-brand {
    font-size: 15px;
    margin-left: 0;
    padding: 7px 10px;
  }

  .header-nav .navbar .navbar-nav {
    margin-left: 0;
  }

  .header-nav .navbar .navbar-nav .nav-item {
    margin: 8px 0 0 0;
  }

  .header-nav .navbar .navbar-nav .nav-item .nav-link {
    color: #f5f5f5;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .header-nav .navbar .form-inline {
    margin-left: 0;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: unset;
  }

  .header-nav .navbar .form-inline p {
    font-size: 14px;
    color: #f5f5f5;
    cursor: pointer;
    margin: auto 50px auto 0;
  }

  .header-nav .navbar .form-inline p .fa-solid {
    padding-right: 3px;
  }



  /* subscribe styles */
  .subscribe-container {
    margin-top: 30px;
    padding: 20px 20px 40px;
  }

  .subscribe-container .subscribe-title h4 {
    font-size: 30px;
    margin-bottom: 30px;
  }


  .subscribe-container .subscribe-form .form-group {
    margin: 20px 40px 0;
  }

  .subscribe-container .subscribe-form .form-group input {

    width: 70%;
  }


  .subscribe-container .subscribe-form .form-group .btn {
    width: 30%;
  }


  /* bread crumbs styles */
  .bread-header {
    height: 15vh;
  }




  /* footer nav styles */
  .Footer-nav {
    margin-top: 60px;
    padding: 30px 10px;
  }


  .Footer-nav .footer-lists {
    margin-top: 5px;
  }

  .Footer-nav .footer-lists ul li {
    margin: 10px 0;
  }

  .Footer-nav .footer-lists ul li .footer-link {
    font-size: 13px;
  }

  .Footer-nav .social-lists {
    margin-top: 5px;
  }

  .Footer-nav .social-lists ul li {
    margin-right: 20px;
  }

  .Footer-nav .social-lists ul li .footer-icons {
    font-size: 20px;
  }

  .Footer-nav .footer-img {
    text-align: center;
    padding: 15px 20px;
    width: 150px;

  }

  .footer-img .img-text {
    margin-top: 10px;
    width: 120px;
    text-align: center;
  }

  .Footer-nav .footer-img .img-fluid {
    width: 35px;
  }

  .Footer-nav .footer-address {
    margin: 5px 0 10px;
  }

  .Footer-nav .footer-address p {
    font-size: 13px;
  }

  .Footer-nav .footer-address .phone-one {
    padding-right: 10px;
  }

  .Footer-nav .footer-address .email {
    font-size: 12;
    word-wrap: break-word;
  }


  .Footer-nav .footer-copy p {
    font-size: 12px;
  }

  /* bread crumbs styles */

  .bread-header {
    padding: 10px 30px 0px;
  }

  .bread-header .header-img {
    height: 120px;
  }

  .bread-header .header-img img {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }

  .bread-header .bread-width {
    display: flex;
  }

  .bread-header .bread-header-text {
    text-align: center;
    max-width: 100%;
  }

  .bread-header .bread-header-text h4 {
    font-size: 31px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: capitalize;
  }

  .bread-header .breadcrumb ul {
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

@media only screen and (max-width: 767px) {
  .top-bar .tag-line {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }

  .top-bar #top-insta {
    display: none;
  }

  .top-bar #top-email {
    display: none;
  }



  /* header navbar styles */

  .header-nav .navbar {
    padding: 12px 20px 15px;
  }

  .header-nav .navbar .navbar-brand {
    font-size: 15px;
    margin-left: 0;
    padding: 7px 10px;
  }

  .header-nav .navbar .navbar-nav {
    margin-left: 0;
  }

  .header-nav .navbar .navbar-nav .nav-item {
    margin: 8px 0 0 0;
  }

  .header-nav .navbar .navbar-nav .nav-item .nav-link {
    color: #f5f5f5;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .header-nav .navbar .form-inline {
    margin-left: 0;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: unset;
  }

  .header-nav .navbar .form-inline p {
    font-size: 14px;
    color: #f5f5f5;
    cursor: pointer;
    margin: auto 50px auto 0;
  }

  .header-nav .navbar .form-inline p .fa-solid {
    padding-right: 3px;
  }



  /* bread crumbs styles */
  .bread-header {
    height: 20vh;

  }


  .bread-header .bread-header-text h4 {
    font-size: 27px;
  }


  .product-box .product-img-box {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
  }


  .product-box .product-button {
    position: absolute;
    top: 30%;
    /* Adjust the vertical alignment */
    left: 8%;
    /* Adjust the horizontal alignment */
    transform: translate(-8%, -50%);
    /* Center the button */
    top: 230px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    /* Start with opacity 0 */
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.3s ease;
    /* Add the fade-in transition */
  }

  .product-box .product-button .btn {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    border: 1px solid #676363;
    border-radius: 1px;
    background: #676363;
    padding: 8px 20px;
  }

}

@media only screen and (max-width: 575px) {

  .header-nav .navbar .navbar-brand {
    font-size: 14px;
    margin-left: 0;
    padding: 5px 10px;
  }



  .subscribe-container .subscribe-title h4 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .subscribe-container .subscribe-form .form-group {
    margin: 20px 10px 0;
  }

  .subscribe-container .subscribe-form .form-group input {
    width: 65%;
    height: 45px;
    font-size: 12px;
  }

  .subscribe-container .subscribe-form .form-group .btn {
    width: 35%;
    height: 45px;
    font-size: 13px;
  }


  /* bread crumbs styles */
  .bread-header {
    position: relative;
    height: 20vh;
  }

  .bread-header .bread-header-text h4 {
    font-size: 25px;
  }


  .bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link {
    font-size: 14px;
  }

  .bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link .fa-solid {
    font-size: 13px;
  }



  /* footer nav styles */
  .Footer-nav {
    margin-top: 60px;
    padding: 25px 20px;
  }


  .Footer-nav .footer-img {
    text-align: center;
    padding: 15px 20px;
    width: 120px;
    margin-bottom: 30px;

  }

  .footer-img .img-text {
    margin-top: 10px;
    width: 100px;
    text-align: center;
  }

  .Footer-nav .footer-img .img-fluid {
    width: 30px;
  }

  .Footer-nav .footer-address {
    margin: 5px 0 10px;
  }

  .Footer-nav .footer-address p {
    font-size: 13px;
  }

  .Footer-nav .footer-address .phone-one {
    padding-right: 10px;
  }

  .Footer-nav .footer-address .email {
    font-size: 12;
    word-wrap: break-word;
  }

  /* product card styles */


  /* bread crumbs styles */

  .bread-header {
    padding: 5px 0 0;
  }

  .bread-header .header-img {
    max-height: 100px;
  }

  .bread-header .header-img img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .bread-header .bread-width {
    display: flex;
    margin-bottom: 0;
  }

  .bread-header .bread-header-text {
    text-align: center;
    max-width: 100%;
  }

  .bread-header .bread-header-text h4 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: capitalize;
  }

  .bread-header .breadcrumb ul {
    margin-bottom: 0;
    padding-bottom: 0;
  }


  /* product card styles */
  .product-box {
    color: #f5f5f5;
    position: relative;
    background: #292929;
    transition: box-shadow 0.3s ease;
    /* Add the box-shadow transition */
    margin-bottom: 30px;

  }

  .product-box:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Add the box-shadow on hover */

  }

  .product-box .product-img-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
  }

  .product-box .product-body {
    padding: 10px 10px;
    height: 80px;
  }

  .product-box .product-body .product-name {
    font-size: 13px;
  }

  .product-box .product-body .product-price {
    font-size: 15px;

  }


  .product-box .product-button {
    position: absolute;
    top: 30%;
    /* Adjust the vertical alignment */
    left: 15%;
    /* Adjust the horizontal alignment */
    transform: translate(-5%, -50%);
    /* Center the button */
    top: 210px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    /* Start with opacity 0 */
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.3s ease;
    /* Add the fade-in transition */
  }

  .product-box .product-button .btn {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    border: 1px solid #676363;
    border-radius: 1px;
    background: #676363;
    padding: 8px 25px;
  }


}

@media only screen and (max-width: 430px) {
  .product-box .product-img-box {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
  }


  .product-box .product-button {
    position: absolute;
    top: 30%;
    /* Adjust the vertical alignment */
    left: 5%;
    /* Adjust the horizontal alignment */
    transform: translate(-5%, -50%);
    /* Center the button */
    top: 180px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    /* Start with opacity 0 */
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.3s ease;
    /* Add the fade-in transition */
  }

  .product-box .product-button .btn {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    border: 1px solid #676363;
    border-radius: 1px;
    background: #676363;
    padding: 8px 20px;
  }

}